.icon-chevron-gray { background-image: url('png/chevron-gray.png'); background-repeat: no-repeat; }

.icon-chevron-white { background-image: url('png/chevron-white.png'); background-repeat: no-repeat; }

.icon-gray-chevron { background-image: url('png/gray-chevron.png'); background-repeat: no-repeat; }

.icon-hamburger-menu-white { background-image: url('png/hamburger-menu-white.png'); background-repeat: no-repeat; }

.icon-hamburger-menu { background-image: url('png/hamburger-menu.png'); background-repeat: no-repeat; }

.icon-tandt-logo { background-image: url('png/tandt-logo.png'); background-repeat: no-repeat; }

.icon-white-chevron { background-image: url('png/white-chevron.png'); background-repeat: no-repeat; }

