<template id="headerBar">	
	<header>
	  <div class="container">
	    <div class="row">
	      <div class="col-xs-12">
	        <a href="#!/sidebar" class="side-menu icon icon-size-sm icon-hamburger-menu-white">Menu</a>
	        <h1 class="title"></h1>
	      </div>
	    </div>
	  </div>      
	</header>
</template>
<script>
(function() {
	var importDoc = document._currentScript.ownerDocument;
  var headerProto = Object.create(HTMLElement.prototype);

  headerProto.createdCallback = function() {
    // get template in import
    var template = importDoc.querySelector('#headerBar');

   

    // import template into
    var clone = document.importNode(template.content, true);    

    this.appendChild(clone);
  };

  headerProto.attachedCallback = function() {
  	var title = this.getAttribute('title') || 'Home';
    console.log('title: ' + title);

    console.log(this.getElementsByTagName('h1'));
    this.getElementsByTagName('h1')[0].innerHTML = title;
  }

  document.registerElement('header-bar', {prototype: headerProto});
})();
</script>